Repository Trashytalk/piwardrive: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-locales, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile=black"]
  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.0
    hooks:
      - id: mypy
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.5
    hooks:
      - id: bandit
  - repo: local
    hooks:
      - id: check-locales
        name: verify locale synchronization
        entry: python scripts/check_locales_sync.py
        language: system
        types: [json]
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        args: ["-q"]
      - id: npm-lint
        name: npm lint
        entry: bash -c "cd webui && npm run lint"
        language: system
        pass_filenames: false

Add aggregation service Dockerfile and update docs
  Dockerfile.aggregation
  docs/aggregation_service.rst
Due: none

test: check orientation map endpoint
  tests/server.test.js
Due: none

fix: valid package json
  docs/installation.rst
  webui/package.json
Due: check-locales

Add cache cleanup script
  docs/tile_cache.rst
  scripts/cleanup_cache.py
  src/piwardrive/scripts/cleanup_cache.py
Due: pytest

docs: add track cleanup instructions
  docs/drone_mapping.rst
Due: none

Enable source maps for production
  webui/README.md
  webui/vite.config.js
Due: none

docs: add FAQ and update references
  README.md
  docs/faq.rst
  docs/index.rst
Due: none

Add export-gpx CLI
  docs/cli_tools.rst
  pyproject.toml
  scripts/export_gpx.py
Due: pytest

docs: note tmux or screen for detached runs
  docs/deployment.rst
Due: none

Add aggregation compose file and update docs
  docker-compose.aggregation.yml
  docs/aggregation_service.rst
  sync_receiver.py
Due: pytest

Add weather widget example
  docs/widget_plugins.rst
  examples/plugins/weather_widget.py
Due: pytest

Add CORS origins env var support
  docs/deployment.rst
  src/piwardrive/service.py
Due: pytest

docs: clarify password hashing
  README.md
  docs/security.rst
Due: none

feat(server): allow custom dist dir
  server/index.js
  webui/README.md
Due: none

Add watch_service helper
  CONTRIBUTING.md
  requirements-dev.txt
  scripts/watch_service.py
Due: pytest

feat: configure MPU6050 address via env
  docs/environment.rst
  src/piwardrive/orientation_sensors.py
  tests/test_orientation_sensors.py
  tests/test_orientation_sensors_pkg.py
Due: pytest

test: verify widgets api
  tests/server.test.js
Due: none

Add log rotation script
  docs/logging.rst
  scripts/rotate_logs.py
Due: pytest

Add db summary script and docs
  docs/persistence.rst
  pyproject.toml
  scripts/db_summary.py
  tests/test_db_summary_script.py
Due: pytest

Improve orientation map reset
  src/piwardrive/orientation_sensors.py
Due: pytest

Allow configuring web UI port
  src/piwardrive/web/webui_server.py
  webui/README.md
Due: pytest

Add Codecov flags and badges
  .github/workflows/python.yml
  README.md
Due: none

Add Grafana integration
  docker-compose.grafana.yml
  docs/grafana.rst
  docs/index.rst
  grafana/dashboards/metrics.json
  grafana/dashboards/wifi.json
  pyproject.toml
  scripts/export_grafana.py
Due: check-locales, pytest

doc: expand PW_ORIENTATION_MAP_FILE section
  docs/orientation.rst
Due: none

webui: add lint script
  README.md
  webui/package.json
Due: check-locales

feat: load orientation map from file
  src/piwardrive/orientation_sensors.py
Due: pytest

Fix docstring formatting issues
  src/piwardrive/exception_handler.py
  src/piwardrive/integrations/sigint_suite/exports/exporter.py
  src/piwardrive/orientation_sensors.py
  src/piwardrive/remote_sync.py
  src/piwardrive/route_prefetch.py
Due: pytest

Remove duplicate exception_handler module
  mypy.ini
  src/exception_handler.py
Due: pytest

Refactor metrics env check
  src/remote_sync/__init__.py
Due: pytest

feat: allow customizing service port
  docs/deployment.rst
  src/piwardrive/service.py
Due: pytest

Read port from environment in main
  docs/aggregation_service.rst
  src/piwardrive/aggregation_service.py
Due: pytest

Allow overriding web UI port
  src/piwardrive/web/webui_server.py
  webui/README.md
Due: pytest

docs: highlight wiring diagrams
  docs/index.rst
  docs/orientation.rst
Due: none

docs: detail PW_ORIENTATION_MAP_FILE
  docs/orientation.rst
Due: none

ci: upload coverage to codecov
  .github/workflows/ci.yml
  .github/workflows/python.yml
  README.md
  webui/README.md
Due: none

docs: expand FAQ and link from README
  README.md
  docs/faq.rst
  docs/index.rst
Due: none

Add translation update script
  docs/localization.rst
  scripts/update_translations.sh
Due: none

docs: add table for remote sync overrides
  docs/environment.rst
Due: none

docs: explain pip module packaging for widgets
  docs/widget_plugins.rst
Due: none

Add more config-cli tests
  tests/test_cli_tools.py
Due: pytest
