Repository Trashytalk/piwardrive: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-locales, pytest

check-locales:
  name: verify locale synchronization
  entry: python scripts/check_locales_sync.py
  language: system

pytest:
  name: pytest
  entry: pytest
  language: system
  args:
  - -q

docs: add docker image push instructions
  docs/deployment.rst
Due: none

docs: explain how to run quickstart script
  README.md
Due: none

Fix fallback App definition indentation
  src/piwardrive/route_prefetch.py
Due: pytest

feat: add MySQL export support
  requirements.txt
  scripts/export_mysql.py
  src/piwardrive/core/config.py
  src/piwardrive/mysql_export.py
  tests/test_core_config_extra.py
  tests/test_mysql_export.py
Due: pytest

Fix long line in export
  src/piwardrive/export.py
Due: pytest

Fix blank line spacing in heatmap
  src/piwardrive/heatmap.py
Due: pytest

Add additional network analytics tests
  tests/test_network_analytics.py
Due: pytest

Move optional imports above App assignment
  src/piwardrive/core/utils.py
Due: pytest

Fix flake8 W391 by removing trailing blank
  server/parse_widgets.py
Due: pytest

Add warning when optional modules fail to import
  src/piwardrive/__init__.py
Due: pytest

Fix blank lines around error constant
  src/piwardrive/error_reporting.py
Due: pytest

Use full path for kiosk webui and handle missing
  src/piwardrive/cli/kiosk.py
Due: pytest

docs: mention test extras
  README.md
  scripts/setup_dev_env.sh
Due: none

Add clustering and fingerprint support
  src/piwardrive/analytics/__init__.py
  src/piwardrive/analytics/clustering.py
  src/piwardrive/core/persistence.py
  src/piwardrive/service.py
  tests/test_clustering.py
  tests/test_fingerprint_persistence.py
  webui/src/components/DashboardLayout.jsx
  webui/src/components/FingerprintSummary.jsx
Due: pytest

Add playback support
  docs/status_service.rst
  docs/web_ui.rst
  src/piwardrive/core/persistence.py
  src/piwardrive/service.py
  webui/src/components/HealthPlayback.jsx
Due: pytest

Add baseline analytics module and endpoint
  docs/config_schema.json
  docs/diagnostics.rst
  docs/environment.rst
  docs/status_service.rst
  src/piwardrive/analytics/__init__.py
  src/piwardrive/analytics/baseline.py
  src/piwardrive/core/config.py
  src/piwardrive/service.py
  tests/test_baseline_analysis.py
  tests/test_service.py
  webui/src/components/BaselineAnalysis.jsx
  webui/src/components/DashboardLayout.jsx
Due: check-locales, pytest

Add webhook notifications
  README.md
  docs/config_schema.json
  docs/index.rst
  docs/notifications.rst
  src/piwardrive/core/config.py
  src/piwardrive/main.py
  src/piwardrive/notifications.py
  src/piwardrive/service.py
  tests/test_config.py
  tests/test_core_config_extra.py
Due: check-locales, pytest

Add SQLCipher support
  docs/installation.rst
  docs/persistence.rst
  scripts/quickstart.sh
  src/piwardrive/core/persistence.py
Due: pytest

Fix sigint suite paths
  README.md
  REFERENCE.md
  docs/environment.rst
  scripts/quickstart.sh
Due: none

feat: auto-restart failed services
  README.md
  docs/config_schema.json
  docs/diagnostics.rst
  docs/environment.rst
  src/piwardrive/core/config.py
  src/piwardrive/diagnostics.py
  tests/test_diagnostics.py
Due: check-locales, pytest

Add data sink utilities and ML hooks
  docs/configuration.rst
  docs/environment.rst
  src/piwardrive/analysis.py
  src/piwardrive/core/config.py
  src/piwardrive/data_sink.py
  src/piwardrive/diagnostics.py
  tests/test_analysis_hooks.py
  tests/test_data_sink.py
Due: pytest

Add scheduling rules support
  docs/index.rst
  docs/scheduling_rules.rst
  src/piwardrive/core/config.py
  src/piwardrive/integrations/sigint_suite/bluetooth/scanner.py
  src/piwardrive/integrations/sigint_suite/cellular/band_scanner/scanner.py
  src/piwardrive/integrations/sigint_suite/cellular/imsi_catcher/scanner.py
  src/piwardrive/integrations/sigint_suite/cellular/tower_scanner/scanner.py
  src/piwardrive/integrations/sigint_suite/wifi/scanner.py
  src/piwardrive/lora_scanner.py
  src/piwardrive/scheduler.py
Due: pytest

Add authentication system
  src/piwardrive/core/persistence.py
  src/piwardrive/service.py
  webui/src/backendService.js
  webui/src/components/LoginForm.jsx
  webui/src/components/NavBar.jsx
  webui/src/main.jsx
  webui/tests/backendService.test.js
Due: pytest

Add update script and scheduler
  docs/deployment.rst
  scripts/update.sh
  src/piwardrive/main.py
Due: pytest

Add token-based auth
  src/piwardrive/core/persistence.py
  src/piwardrive/security.py
  src/piwardrive/service.py
  tests/test_service.py
  webui/src/auth.js
  webui/src/main.jsx
Due: pytest

Remove Kivy dependencies
  .gitignore
  README.md
  REFERENCE.md
  docs/mobile_build.rst
  examples/plugins/hello_plugin.py
  examples/plugins/weather_widget.py
  requirements.txt
  src/piwardrive/core/utils.py
  src/piwardrive/error_reporting.py
  src/piwardrive/route_prefetch.py
  stubs/kivy/__init__.py
  stubs/kivy/app.py
  stubs/kivy/clock.py
  stubs/kivy/uix/__init__.py
  tests/test_imports.py
Due: pytest

Add GraphQL and MQTT support
  docs/config_schema.json
  requirements.txt
  src/piwardrive/core/config.py
  src/piwardrive/diagnostics.py
  src/piwardrive/graphql_api.py
  src/piwardrive/main.py
  src/piwardrive/mqtt/__init__.py
  src/piwardrive/service.py
Due: check-locales, pytest

Raise error on invalid network throughput interval
  src/piwardrive/widgets/net_throughput.py
Due: pytest

Validate playback interval
  src/piwardrive/gps_track_playback.py
Due: pytest

fix tail_file behavior for nonpositive lines
  src/piwardrive/core/utils.py
  tests/test_utils.py
Due: pytest

Add interval validation to schedulers
  src/piwardrive/scheduler.py
  tests/test_async_scheduler.py
Due: pytest

Refactor density spreading using numpy convolution
  src/piwardrive/heatmap.py
Due: pytest

Validate heatmap bin and radius
  src/piwardrive/heatmap.py
  tests/test_heatmap.py
Due: pytest

Cache geofence loading
  src/piwardrive/service.py
Due: pytest

Fix lookahead slicing and tests
  src/piwardrive/route_prefetch.py
  tests/test_route_prefetch.py
Due: pytest

Validate attempts in async service cmd
  src/piwardrive/core/utils.py
Due: pytest

Refactor continuous scan to async
  src/piwardrive/integrations/sigint_suite/continuous_scan.py
  src/piwardrive/integrations/sigint_suite/scripts/continuous_scan.py
  tests/test_continuous_scan.py
Due: pytest

Use set for allowed log paths
  src/piwardrive/service.py
Due: pytest

Add max_files validation for log rotation
  src/piwardrive/diagnostics.py
  tests/test_diagnostics.py
Due: pytest

Path conditions:
  check-locales: any of: \.json$
  pytest: any of: \.py$
