Repository Trashytalk/piwardrive: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-locales, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile=black"]
  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.0
    hooks:
      - id: mypy
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.5
    hooks:
      - id: bandit
  - repo: local
    hooks:
      - id: check-locales
        name: verify locale synchronization
        entry: python scripts/check_locales_sync.py
        language: system
        types: [json]
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        args: ["-q"]
      - id: npm-lint
        name: npm lint
        entry: bash -c "cd webui && npm run lint"
        language: system
        pass_filenames: false

Remove unused remote command endpoint
  src/piwardrive/service.py
Due: pytest

fix login password validation
  src/piwardrive/service.py
  tests/test_service.py
Due: pytest

docs: add env variables and fix build warnings
  docs/configuration.rst
  docs/deployment.rst
  docs/environment.rst
  docs/installation.rst
  docs/localization.rst
  docs/logging.rst
  docs/orientation.rst
  docs/status_service.rst
  docs/tile_cache.rst
Due: none

docs: add env var descriptions
  docs/environment.rst
Due: none

docs: detail orientation map environment var
  REFERENCE.md
Due: none

Remove Kivy stubs and update widgets
  examples/plugins/weather_widget.py
  src/piwardrive/ui.py
  src/piwardrive/widgets/base.py
  src/piwardrive/widgets/battery_status.py
  src/piwardrive/widgets/db_stats.py
  src/piwardrive/widgets/gps_status.py
  src/piwardrive/widgets/handshake_counter.py
  src/piwardrive/widgets/health_analysis.py
  src/piwardrive/widgets/health_status.py
  src/piwardrive/widgets/heatmap.py
  src/piwardrive/widgets/log_viewer.py
  src/piwardrive/widgets/lora_scan_widget.py
  src/piwardrive/widgets/orientation_widget.py
  src/piwardrive/widgets/service_status.py
  src/piwardrive/widgets/signal_strength.py
  src/piwardrive/widgets/storage_usage.py
  src/piwardrive/widgets/vehicle_speed.py
  tests/test_battery_widget.py
  tests/test_db_stats_widget.py
  tests/test_extra_widgets.py
  tests/test_new_widgets.py
  tests/test_robust_request.py
Due: pytest

Sanitize orientation map path from environment
  src/piwardrive/orientation_sensors.py
  tests/test_orientation_sensors_pkg.py
Due: pytest

Improve filename validation
  src/piwardrive/aggregation_service.py
  sync_receiver.py
  tests/test_aggregation_service.py
  tests/test_sync_receiver.py
Due: pytest

refactor: dedupe scan_rules field
  src/piwardrive/core/config.py
Due: pytest

Create README_v2.md
  README_v2.md
Due: none

feat: improve error popup
  src/piwardrive/error_reporting.py
Due: pytest

enforce auth for status endpoint
  docs/security.rst
  docs/status_service.rst
  src/piwardrive/service.py
  tests/test_service.py
  tests/test_status_service.py
Due: pytest

Add sync module stubs and update login check
  src/piwardrive/service.py
  src/sync.py
  sync.py
Due: pytest

Add ML-based health anomaly detection
  README.md
  src/piwardrive/analysis.py
  src/piwardrive/analytics/__init__.py
  src/piwardrive/analytics/anomaly.py
  tests/test_anomaly_detector.py
Due: pytest

Add ARIMA-based CPU temp forecasting
  README.md
  scripts/health_stats.py
  src/piwardrive/analytics/__init__.py
  src/piwardrive/analytics/forecasting.py
  tests/test_forecasting.py
  tests/test_health_stats_script.py
Due: pytest

Add clustering and rogue AP detection utilities
  docs/index.rst
  docs/network_analytics.rst
  src/piwardrive/network_analytics.py
  tests/test_network_analytics.py
Due: pytest

Add placeholder Markdown docs
  docs/api.md
  docs/architecture.md
  docs/configuration.md
  docs/development.md
  docs/docker-deployment.md
  docs/hardware-compatibility.md
  docs/installation.md
  docs/kiosk-mode.md
  docs/production-deployment.md
  docs/raspberry-pi-setup.md
  docs/user-manual.md
Due: none

Update architecture.md
  docs/architecture.md
Due: none

Add API documentation and Wi-Fi endpoints
  docs/examples/api_responses.json
  docs/examples/curl_examples.sh
  docs/examples/javascript_examples.js
  docs/examples/python_examples.py
  src/piwardrive/models/__init__.py
  src/piwardrive/models/api_models.py
  src/piwardrive/routes/wifi.py
  src/piwardrive/service.py
  static/swagger-config.js
  templates/api-docs.html
Due: check-locales, pytest

Update configuration.md
  docs/configuration.md
Due: none

Update api.md
  docs/api.md
Due: none

Update docker-deployment.md
  docs/docker-deployment.md
Due: none

Update hardware-compatibility.md
  docs/hardware-compatibility.md
Due: none

Update installation.md
  docs/installation.md
Due: none

Update kiosk-mode.md
  docs/kiosk-mode.md
Due: none

Update production-deployment.md
  docs/production-deployment.md
Due: none

Update user-manual.md
  docs/user-manual.md
Due: none

docs: align README_v2 with current config
  README_v2.md
  docs/api.md
Due: none

Improve documentation for scanning modules
  src/piwardrive/gpsd_client.py
  src/piwardrive/lora_scanner.py
Due: pytest

Add geometry utility tests
  tests/test_geometry_utils.py
Due: pytest

Add structured logging framework
  src/piwardrive/logging/__init__.py
  src/piwardrive/logging/config.py
  src/piwardrive/logging/structured_logger.py
Due: pytest

Add log rotation framework
  src/piwardrive/logging/__init__.py
  src/piwardrive/logging/rotation.py
  src/piwardrive/logging/scheduler.py
  src/piwardrive/logging/storage.py
Due: pytest

Add dynamic logging management and filters
  src/piwardrive/api/logging_control.py
  src/piwardrive/logging/__init__.py
  src/piwardrive/logging/dynamic_config.py
  src/piwardrive/logging/filters.py
  src/piwardrive/logging/levels.py
  tests/test_logging_filters.py
Due: pytest

Add integration tests for persistence and remote sync
  tests/test_integration_core.py
Due: pytest

Fix imports for tests
  src/piwardrive/scheduler.py
  src/piwardrive/service.py
  src/piwardrive/utils.py
Due: pytest

Add GPS handler using python-gps
  src/gps_handler.py
  tests/test_gps_handler.py
Due: pytest

Add web dashboard server with auth and websocket
  web/__init__.py
  web/app.py
Due: pytest

Add database export utilities and CLI
  scripts/export_db.py
  src/pwutils/__init__.py
  src/pwutils/database.py
  tests/test_export_db_script.py
Due: pytest
