Repository Trashytalk/piwardrive: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-locales, pytest

check-locales:
  name: verify locale synchronization
  entry: python scripts/check_locales_sync.py
  language: system

pytest:
  name: pytest
  entry: pytest
  language: system
  args:
  - -q

test: async httpx coverage for service
  tests/test_service_async_endpoints.py
Due: pytest

Add plugin loading test
  tests/test_plugins.py
Due: pytest

Add npm test pre-commit hook and update Node docs
  .pre-commit-config.yaml
  README.md
Due: none

Add coverage generation
  .github/workflows/ci.yml
  requirements-dev.txt
Due: none

Add GitHub workflows for Python and Node
  .github/workflows/node.yml
  .github/workflows/python.yml
Due: none

docs: mark exported config variables
  docs/conf.py
Due: pytest

Remove unused attributes
  src/piwardrive/diagnostics.py
  src/piwardrive/widgets/log_viewer.py
Due: pytest

Remove unused stub from utils
  src/piwardrive/utils.py
Due: pytest

Remove unused control_service method
  src/piwardrive/main.py
  tests/test_control_service.py
Due: pytest

Remove unused future import
  src/piwardrive/orientation_sensors.py
Due: pytest

Add aggregation service installer
  docs/aggregation_service.rst
  scripts/install_aggregation_service.sh
Due: none

Add config-cli tests
  tests/test_cli_tools.py
Due: pytest

docs: mention Docker image tagging and push
  docs/deployment.rst
Due: none

docs: document remote sync env variables
  docs/environment.rst
Due: none

Add development Makefile and contributing guide
  CONTRIBUTING.md
  Makefile
Due: none

Add TypeScript declarations for orientationSensors
  webui/src/orientationSensors.d.ts
Due: none

docs: add localization guide
  REFERENCE.md
  docs/localization.rst
Due: none

docs: document PW_HEALTH_FILE
  webui/README.md
Due: none

Add test for cloud export failure logging
  tests/test_cloud_export.py
Due: pytest

Add orientation map export script
  docs/orientation.rst
  pyproject.toml
  scripts/export_orientation_map.py
Due: pytest

Add aggregation service unit file
  docs/aggregation_service.rst
  examples/piwardrive-aggregation.service
Due: none

docs: document serviceSync script
  docs/remote_sync.rst
Due: none

docs: add calibration guide
  docs/orientation.rst
Due: none

fix: remove duplicate heading
  README.md
Due: none

Add config schema generation
  README.md
  docs/config_schema.json
  docs/configuration.rst
  scripts/generate_config_schema.py
Due: check-locales, pytest

test: expand network analytics coverage
  tests/test_network_analytics.py
Due: pytest

test: check PW_HEALTH_FILE env
  tests/server.test.js
Due: none

Add orientation mapping example
  docs/orientation.rst
  examples/orientation_map.json
Due: check-locales

Add docs workflow
  .github/workflows/docs.yml
Due: none

server: expose orientation map
  docs/orientation.rst
  server/index.js
Due: none

docs: mention editing service routes
  docs/deployment.rst
Due: none

webui: add nodemon dev script
  webui/README.md
  webui/package.json
Due: check-locales

docs: expand CLI examples and link
  README.md
  docs/cli_tools.rst
Due: none

docs: document logging
  README.md
  docs/index.rst
  docs/logging.rst
Due: none

Add web UI Dockerfile and usage docs
  Dockerfile.webui
  docs/deployment.rst
Due: none

Add sync metrics tracking
  docs/remote_sync.rst
  src/piwardrive/remote_sync.py
  src/remote_sync/__init__.py
  tests/test_remote_sync.py
Due: pytest

Add orientation sensors example
  docs/orientation.rst
  examples/orientation_sensors.json
Due: check-locales

Path conditions:
  check-locales: any of: \.json$
  pytest: any of: \.py$
