Repository Trashytalk/piwardrive: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-locales, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile=black"]
  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.0
    hooks:
      - id: mypy
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.5
    hooks:
      - id: bandit
  - repo: local
    hooks:
      - id: check-locales
        name: verify locale synchronization
        entry: python scripts/check_locales_sync.py
        language: system
        types: [json]
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        args: ["-q"]
      - id: npm-lint
        name: npm lint
        entry: bash -c "cd webui && npm run lint"
        language: system
        pass_filenames: false

Add advanced analysis query service and API
  src/piwardrive/api/analysis_queries/__init__.py
  src/piwardrive/api/analysis_queries/endpoints.py
  src/piwardrive/service.py
  src/piwardrive/services/analysis_queries.py
  tests/test_analysis_queries_cache.py
  tests/test_analysis_queries_service.py
Due: pytest

Add basic analytics and security API routes
  docs/api.md
  src/piwardrive/models/api_models.py
  src/piwardrive/routes/analytics.py
  src/piwardrive/routes/bluetooth.py
  src/piwardrive/routes/cellular.py
  src/piwardrive/routes/security.py
  src/piwardrive/service.py
Due: pytest

Add database performance monitoring
  src/piwardrive/api/system/endpoints.py
  src/piwardrive/db/manager.py
  src/piwardrive/migrations/010_performance_indexes.py
  src/piwardrive/migrations/__init__.py
  src/piwardrive/services/db_monitor.py
Due: pytest

feat: add export and reporting services
  pyproject.toml
  src/piwardrive/mysql_export.py
  src/piwardrive/services/data_export.py
  src/piwardrive/services/report_generator.py
  templates/reports/daily_summary.md
  templates/reports/suspicious_activity.md
Due: pytest

Add detection integration tests and benchmarks
  benchmarks/analysis_queries_benchmark.py
  docs/api.md
  docs/api_overview.md
  examples/security_analysis_example.py
  src/piwardrive/core/persistence.py
  tests/test_network_fingerprinting_integration.py
  tests/test_security_analyzer_integration.py
Due: pytest

Add analytics background jobs
  src/piwardrive/api/analytics_jobs.py
  src/piwardrive/jobs/analytics_jobs.py
  src/piwardrive/main.py
  src/piwardrive/service.py
  src/piwardrive/services/analytics_processor.py
Due: pytest

Add real-time detection stream processor
  src/piwardrive/routes/websocket.py
  src/piwardrive/routes/wifi.py
  src/piwardrive/service.py
  src/piwardrive/services/bluetooth_scanner.py
  src/piwardrive/services/cellular_scanner.py
  src/piwardrive/services/stream_processor.py
Due: pytest

Add maintenance services and scheduling
  src/piwardrive/api/maintenance_jobs.py
  src/piwardrive/jobs/maintenance_jobs.py
  src/piwardrive/main.py
  src/piwardrive/service.py
  src/piwardrive/services/maintenance.py
Due: pytest

Add export and integration services
  src/piwardrive/services/export_service.py
  src/piwardrive/services/integration_service.py
Due: pytest

Add monitoring and alerting services
  src/piwardrive/api/monitoring/__init__.py
  src/piwardrive/api/monitoring/endpoints.py
  src/piwardrive/service.py
  src/piwardrive/services/alerting.py
  src/piwardrive/services/monitoring.py
Due: pytest

Add distributed coordination services
  src/piwardrive/services/cluster_manager.py
  src/piwardrive/services/coordinator.py
Due: pytest

Add export and reporting UI components
  webui/src/App.css
  webui/src/components/ExportCenter.jsx
  webui/src/components/ReportDashboard.jsx
  webui/src/components/ReportGenerator.jsx
  webui/tests/exportCenter.test.jsx
  webui/tests/reportDashboard.test.jsx
  webui/tests/reportGenerator.test.jsx
Due: none

Add live monitoring components
  webui/src/components/LiveMetrics.jsx
  webui/src/components/LiveMonitoring.jsx
  webui/src/components/ScanningStatus.jsx
  webui/src/useWebSocket.js
  webui/tests/liveComponents.test.jsx
Due: none

Add enhanced configuration components
  webui/src/components/AnalyticsConfig.jsx
  webui/src/components/DatabaseConfig.jsx
  webui/src/components/EnhancedSettings.jsx
  webui/src/components/SecurityConfig.jsx
  webui/src/config.js
  webui/tests/configValidation.test.js
  webui/tests/databaseConfig.test.jsx
Due: none

feat(webui): add mobile interface components and pwa tweaks
  webui/src/components/DashboardLayout.jsx
  webui/src/components/MobileAlerts.jsx
  webui/src/components/MobileLayout.jsx
  webui/src/components/MobileMap.jsx
  webui/src/main.jsx
  webui/src/mobileFeatures.js
  webui/vite.config.js
Due: none

Add behavioral analytics components
  webui/src/components/BehavioralAnalytics.jsx
  webui/src/components/CrowdAnalytics.jsx
  webui/src/components/MovementTracker.jsx
Due: none

Add new analytics, security and performance widgets
  docs/config_schema.json
  docs/environment.rst
  docs/widget_plugins.rst
  docs/widgets.rst
  src/piwardrive/api/system/monitoring.py
  src/piwardrive/api/widget_marketplace.py
  src/piwardrive/core/config.py
  src/piwardrive/service.py
  src/piwardrive/widgets/__init__.py
  src/piwardrive/widgets/alert_summary.py
  src/piwardrive/widgets/database_health.py
  src/piwardrive/widgets/detection_rate.py
  src/piwardrive/widgets/device_classification.py
  src/piwardrive/widgets/network_density.py
  src/piwardrive/widgets/scanner_status.py
  src/piwardrive/widgets/security_score.py
  src/piwardrive/widgets/suspicious_activity.py
  src/piwardrive/widgets/system_resource.py
  src/piwardrive/widgets/threat_level.py
  src/piwardrive/widgets/threat_map.py
  webui/src/App.jsx
  webui/src/components/AnalyticsWidgets.jsx
  webui/src/components/DashboardLayout.jsx
  webui/src/components/PerformanceWidgets.jsx
  webui/src/components/SecurityWidgets.jsx
  webui/src/config.js
  widgets/marketplace.json
Due: check-locales, pytest

Add geospatial analysis components
  webui/src/components/GeospatialAnalytics.jsx
  webui/src/components/InfrastructurePlanner.jsx
  webui/src/components/RFEnvironmentMap.jsx
  webui/tests/geospatialComponents.test.jsx
Due: none

Add predictive analytics components and ML forecasting
  src/piwardrive/analytics/__init__.py
  src/piwardrive/analytics/predictive.py
  src/piwardrive/api/analytics/endpoints.py
  webui/src/components/CapacityPlanner.jsx
  webui/src/components/NetworkLifecycle.jsx
  webui/src/components/PredictiveAnalytics.jsx
  webui/tests/capacityPlanner.test.jsx
  webui/tests/networkLifecycle.test.jsx
  webui/tests/predictiveAnalytics.test.jsx
Due: pytest

Add environmental analytics components
  webui/src/components/EnvironmentalAnalytics.jsx
  webui/src/components/EventDetector.jsx
  webui/src/components/UrbanDevelopment.jsx
  webui/tests/environmentalAnalytics.test.jsx
  webui/tests/eventDetector.test.jsx
  webui/tests/urbanDevelopment.test.jsx
Due: none

Add security analytics components
  webui/src/components/IncidentResponse.jsx
  webui/src/components/ThreatIntelligence.jsx
  webui/src/components/VulnerabilityScanner.jsx
  webui/src/securityAnalytics.js
  webui/tests/incidentResponse.test.jsx
  webui/tests/securityAnalytics.test.js
  webui/tests/threatIntelligence.test.jsx
  webui/tests/vulnerabilityScanner.test.jsx
Due: none

Add IoT analytics components and algorithms
  src/piwardrive/analytics/__init__.py
  src/piwardrive/analytics/iot.py
  tests/test_iot_analytics.py
  webui/src/components/CriticalInfrastructure.jsx
  webui/src/components/IoTAnalytics.jsx
  webui/src/components/SmartCityDashboard.jsx
  webui/tests/iotComponents.test.jsx
Due: pytest

Add ML dashboard and training services
  src/piwardrive/analytics/explain.py
  src/piwardrive/main.py
  src/piwardrive/services/model_trainer.py
  tests/test_model_trainer.py
  webui/src/components/AnomalyDetection.jsx
  webui/src/components/DeviceFingerprinting.jsx
  webui/src/components/MLDashboard.jsx
  webui/tests/anomalyDetection.test.jsx
  webui/tests/deviceFingerprinting.test.jsx
  webui/tests/mlDashboard.test.jsx
Due: pytest

Add demographic analytics components and API
  examples/demographic_data.json
  src/piwardrive/api/demographics/__init__.py
  src/piwardrive/api/demographics/endpoints.py
  src/piwardrive/service.py
  src/piwardrive/services/demographic_analytics.py
  webui/src/components/DashboardLayout.jsx
  webui/src/components/DemographicAnalytics.jsx
  webui/src/components/DigitalEquity.jsx
  webui/src/components/TechnologyAdoption.jsx
Due: check-locales, pytest

Fix src path references
  scripts/performance_cli.py
  tools/exception_handler.py
  tools/performance_demo.py
  tools/setup_performance_dashboard.py
Due: pytest

docs: add test setup guidance
  package-lock.json
  package.json
  tests/README.md
Due: check-locales

docs: add mypy troubleshooting tip
  docs/development.md
Due: none

Fix persistence views and update tests
  src/piwardrive/core/persistence.py
  src/piwardrive/logging/config.py
  webui/tests/liveComponents.test.jsx
  webui/tests/logViewer.test.jsx
  webui/tests/vehicleSensors.test.js
Due: pytest

chore: fix lint issues
  config/.flake8
  src/gps_handler.py
  src/piwardrive/__init__.py
  src/piwardrive/analysis.py
  src/piwardrive/analysis/packet_engine.py
  webui/src/btScanner.js
  webui/src/config.js
  webui/src/healthMonitor.js
  webui/src/kiosk.js
  webui/src/logconfig.js
  webui/src/networkAnalytics.js
  webui/src/rfUtils.js
  webui/src/security.js
  webui/src/sigintIntegration.js
  webui/src/sigintPaths.js
  webui/src/sigintPlugins.js
  webui/src/startKioskScript.js
  webui/src/tileCache.js
  webui/src/vacuumDb.js
  webui/src/widgetPlugins.js
Due: pytest

Consolidated all repo change documentation into CHANGELOG/ subfolder.
  CHANGELOG/COMPREHENSIVE_COVERAGE_ANALYSIS.md
  CHANGELOG/COMPREHENSIVE_QA_FINAL_SUMMARY.md
  CHANGELOG/FINAL_CODE_QUALITY_REPORT.md
  CHANGELOG/FINAL_QA_MISSION_COMPLETE.md
  CHANGELOG/FINAL_QA_SECURITY_COMPREHENSIVE_REPORT.md
  CHANGELOG/QA_CONTINUATION_COMPLETION_REPORT.md
  CHANGELOG/QA_PROGRESS_CONTINUATION_REPORT.md
Due: none

Centralized all documentation and test results into CHANGELOG/ folder
  CHANGELOG/CODE_QUALITY_REPORT.md
  CHANGELOG/COMPREHENSIVE_QA_SECURITY_ANALYSIS.md
  CHANGELOG/CRITICAL_ISSUES_RESOLUTION_REPORT.md
  CHANGELOG/DIRECTORY_STRUCTURE.md
  CHANGELOG/FINAL_REORGANIZATION_SUMMARY.md
  CHANGELOG/REORGANIZATION_COMPLETE.md
  CHANGELOG/mutmut_results.txt
  CHANGELOG/precommit_results.txt
  CHANGELOG/pydocstyle_current.txt
  CHANGELOG/pydocstyle_results.txt
  CHANGELOG/pytest_results.txt
  CHANGELOG/radon_results.txt
  COMPREHENSIVE_COVERAGE_ANALYSIS.md
  COMPREHENSIVE_QA_FINAL_SUMMARY.md
  FINAL_CODE_QUALITY_REPORT.md
  FINAL_QA_MISSION_COMPLETE.md
  FINAL_QA_SECURITY_COMPREHENSIVE_REPORT.md
  QA_CONTINUATION_COMPLETION_REPORT.md
  QA_PROGRESS_CONTINUATION_REPORT.md
  examples/Untitled-1.txt
Due: none

🧪 Add comprehensive test coverage for quick wins (fastjson, API models, structured_logger)
  src/piwardrive/fastjson.py
  src/piwardrive/logging/structured_logger.py
  tests/logging/test_structured_logger.py
  tests/models/test_api_models.py
  tests/test_fastjson.py
  tests/test_utils.py
Due: pytest

🧪 Add comprehensive test coverage for localization.py and cache.py
  tests/test_cache.py
  tests/test_localization.py
Due: pytest

Add comprehensive test suite for interfaces.py
  tests/test_interfaces.py
Due: pytest

feat: Comprehensive test coverage improvements for core PiWardrive modules
  src/piwardrive/logging/structured_logger.py
  tests/logging/test_structured_logger.py
  tests/test_cache.py
  tests/test_localization.py
Due: pytest
