Repository Trashytalk/piwardrive: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-locales, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile=black"]
  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.0
    hooks:
      - id: mypy
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.5
    hooks:
      - id: bandit
  - repo: local
    hooks:
      - id: check-locales
        name: verify locale synchronization
        entry: python scripts/check_locales_sync.py
        language: system
        types: [json]
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        args: ["-q"]
      - id: npm-lint
        name: npm lint
        entry: bash -c "cd webui && npm run lint"
        language: system
        pass_filenames: false

Add Prettier config and integrate with pre-commit
  .pre-commit-config.yaml
  webui/.prettierrc
  webui/package-lock.json
  webui/package.json
Due: check-locales

docs: explain custom orientation sensors
  docs/orientation.rst
Due: none

Add calibrate orientation script test
  tests/test_calibrate_orientation.py
Due: pytest

Add orientation sensor check script
  .pre-commit-config.yaml
  docs/orientation.rst
  pyproject.toml
  scripts/check_orientation_sensors.py
Due: pytest

docs: add PIWARDIVE_PLUGIN_DIR env var
  docs/widget_plugins.rst
Due: none

Add coverage target
  CONTRIBUTING.md
  Makefile
Due: none

Add test environment startup script
  scripts/start_test_env.sh
  tests/README.md
Due: none

docs: add .env guide
  .pre-commit-config.yaml
  docs/environment.rst
Due: none

Add log viewer controls
  webui/src/components/LogViewer.jsx
  webui/tests/logViewer.test.jsx
Due: none

Use Python to parse widgets
  server/index.js
  server/parse_widgets.py
  tests/server.test.js
Due: pytest

Remove deprecated experimental web prototypes
  In development/README.md
  In development/web_api.js
  In development/web_api.py
  In development/web_gui/app.js
  In development/web_gui/index.html
  In development/web_gui/map.html
  In development/web_gui/styles.css
  tests/test_web_api.py
Due: pytest

Fix devDependencies comma
  webui/package.json
Due: check-locales

Fix flake8 issues
  main.py
  src/piwardrive/main.py
  src/remote_sync/__init__.py
Due: pytest

Refactor export and heatmap helpers
  src/piwardrive/export.py
  src/piwardrive/heatmap.py
  tests/test_export.py
  tests/test_heatmap.py
Due: pytest

docs: mention optional test extras
  CONTRIBUTING.md
  README.md
  pyproject.toml
Due: none

docs: deprecate Kivy GUI
  README.md
  REFERENCE.md
  docs/mobile_build.rst
  docs/persistence.rst
  docs/web_ui.rst
Due: none

Remove Kivy dependencies
  src/piwardrive/core/utils.py
  src/piwardrive/error_reporting.py
  src/piwardrive/route_prefetch.py
  src/piwardrive/utils.py
  src/piwardrive/widgets/log_viewer.py
  tests/test_error_reporting.py
  tests/test_log_viewer.py
  tests/test_route_prefetch.py
Due: pytest

chore: drop kivy mobile leftovers
  docs/configuration.rst
  docs/index.rst
  docs/mobile_build.rst
  examples/mobile_kismet.json
  examples/mobile_no_kismet.json
  examples/plugins/hello_plugin.py
  src/piwardrive/widgets/log_viewer.py
  tests/test_log_viewer.py
  tests/test_plugins.py
Due: check-locales, pytest

tests: drop kivy stubs
  src/piwardrive/route_prefetch.py
  tests/test_async_scheduler.py
  tests/test_battery_widget.py
  tests/test_db_stats_widget.py
  tests/test_extra_widgets.py
  tests/test_imports.py
  tests/test_log_viewer.py
  tests/test_new_widgets.py
  tests/test_plugins.py
  tests/test_route_prefetch.py
  tests/test_service_plugins.py
  tests/test_widget_cache.py
  tests/test_widget_plugins.py
Due: pytest

docs: update deployment for web UI
  README.md
  REFERENCE.md
  docs/cli_tools.rst
  docs/configuration.rst
  docs/deployment.rst
  docs/diagnostics.rst
  docs/persistence.rst
  docs/status_service.rst
  docs/web_ui.rst
  examples/piwardrive.service
Due: none

Add hardware setup docs
  docs/hardware_setup.rst
  docs/index.rst
  docs/orientation.rst
Due: none

Handle optional Kivy gracefully
  src/piwardrive/core/utils.py
  src/piwardrive/error_reporting.py
  src/piwardrive/route_prefetch.py
  src/piwardrive/widgets/log_viewer.py
Due: pytest

Add server health check script
  scripts/check_server.js
  webui/README.md
Due: none

docs: add wireless configuration example
  docs/deployment.rst
  docs/installation.rst
Due: none

ci: upload coverage reports
  .github/workflows/ci.yml
  .github/workflows/node.yml
  .github/workflows/python.yml
  README.md
Due: none

docs: add troubleshooting for remote sync
  docs/remote_sync.rst
Due: none

Add prune-db script
  docs/persistence.rst
  pyproject.toml
  scripts/prune_db.py
  tests/test_prune_db_script.py
Due: pytest

Add export-shp CLI
  docs/cli_tools.rst
  pyproject.toml
  scripts/export_shp.py
Due: pytest

test: ensure plugin discovery after cache clear
  tests/test_plugins.py
Due: pytest

Add web server integration test
  tests/test_web_server.py
Due: pytest

Allow configuring web UI port
  src/piwardrive/web/webui_server.py
  tests/test_webui_server_main.py
  webui/README.md
Due: pytest

docs: document pip packaging for widget plugins
  docs/widget_plugins.rst
Due: none

feat(server): add TypeScript declarations
  server/server.d.ts
  webui/package.json
Due: check-locales

feat: make service port configurable
  docs/deployment.rst
  src/piwardrive/service.py
Due: pytest

docs: document orientation map file
  docs/orientation.rst
Due: none

Add health-stats CLI
  docs/cli_tools.rst
  pyproject.toml
  scripts/health_stats.py
  tests/test_health_stats_script.py
Due: pytest

Add env-based orientation map reset
  src/piwardrive/orientation_sensors.py
  tests/test_orientation_sensors.py
Due: pytest

Make aggregation service port configurable
  docs/aggregation_service.rst
  src/piwardrive/aggregation_service.py
Due: pytest

docs: add gps client documentation
  docs/gps_clients.rst
  docs/index.rst
Due: none
